*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(/photo/chef-icon.png);
    background-repeat: no-repeat;
    background-position:50% 40px;
    background-size: 140px;
}

.container{
    width: 1140px;
    margin: 0 auto;
    /* background-color: rgb(123, 184, 184); */
}

.white{
    width: 100%;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size:60px ;
    padding: 60px;
}
  
.text1{
    font-size:20px;
    padding:3px;
}

.boxs{
    height: 60px;
    display:flex;
    justify-content: space-evenly;
    border-bottom:1px solid rgba(99, 97, 97, 0.479); 
    border-top:1px solid rgba(99, 97, 97, 0.479);
    /* padding: 22px; */
    margin-bottom: 55PX;
    
    font-size: 20px;
    
    
}

.box{
    width: 206px;
    margin: 0px -55px;
    transition: .3s;
    
}

.box:hover{
    background-color: #00000011;
    transition: .3s;
}

.text2{
    padding: 7%; 
    text-align: center;
}

.kits{
    width: 1200px;
    /* margin-top: 60px; */
    display:flex;
    justify-content: space-between;
    flex-flow: wrap;

    
}

.kit3{
    width: 360px;
    height: 200px;
}

.taom{
    width: 130px;
    height: 32px;
    padding: 3px;
    margin: 13px 0;
    color:rgb(255, 255, 255);
    font-size: 20px;
    box-shadow: 0px 0px 5px 0px chocolate;
    text-align: center;
    background-color:rgb(236, 117, 31) ;
}

.text3{
    width: 350px;
    margin-bottom: 50PX;
}

.text4{
    width: 360px;
    font-size: 20px;
    transition: .1s;
}

.text4:hover{
    color: rgb(224, 51, 51);
    transition: .1s;
}

.taom1{
    width: 130px;
    height: 32px;
    padding: 3px;
    margin: 13px 0;
    color: white;
    font-size: 20px;
    box-shadow: 0px 0px 5px 0px rgba(10, 10, 206, 0.61);
    text-align: center;
    background-color:rgb(169, 169, 241);
}

.taom2{
    width: 130px;
    height: 32px;
    padding: 3px;
    margin: 13px 0;
    color:rgb(236, 235, 235);
    font-size: 20px;
    box-shadow: 0px 0px 5px 0px rgb(224, 51, 51 0.61);
    text-align: center;
    background-color:rgb(224, 51, 51);
}

.taom3{
    width: 130px;
    height: 32px;
    padding: 3px;
    margin: 13px 0;
    color:rgb(236, 235, 235);
    font-size: 20px;
    box-shadow: 0px 0px 5px 0px greenyellow;
    text-align: center;
    background-color:rgb(150, 218, 48);
}

.taom4{
    width: 130px;
    height: 32px;
    padding: 3px;
    margin: 13px 0;
    color:rgb(236, 235, 235);
    font-size: 20px;
    box-shadow: 0px 0px 5px 0px rgb(224, 51, 51 0.61);
    text-align: center;
    background-color:rgb(224, 51, 51);
}